<!DOCTYPE html>
<html>
    <head>
        <title>Le Marane</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/reset.css" type="text/css"/>
        <link rel="stylesheet" href="css/grid.css" type="text/css"/>
        <link rel="stylesheet" href="lib/ElegantFonts/ElegantFonts.css" type="text/css"/>
        <link rel="stylesheet" href="css/myStyle.css" type="text/css"/>
        <!-- <script src="js/myScript.js" type="text/javascript"></script> -->
    </head>
    <body>
        <div id="outlineContainer" class="container">

            <header id="outlineHeader" class="row">
                <div>Logo</div>
            </header>

            <div id="outlineBody" class="row ">
                <#include content_tpl>
            </div><!-- FINE body -->            

            <footer id="outlineFooter" class="row">
                <p>Footer</p>
            </footer>
        </div>
    </body>
</html>
